@use '@statisticsnorway/ssb-component-library/src/style/variables' as variables;

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 1.5rem;

  @media #{variables.$mobile} {
    flex-direction: column;
  }
}

.tableTitle {
  margin: 2.5rem 0;
}