@use '@statisticsnorway/ssb-component-library/src/style/variables' as variables;

.container {
  margin: 1.5rem 12.25rem;

  @media #{variables.$mobile} {
      margin: 1.5rem;
  }
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 1.5rem;

  @media #{variables.$mobile} {
    flex-direction: column;
  }
}

// TODO: Remove after moving
.tableTitleContainer {  
  @media #{variables.$desktop} {
    display: flex;
    flex-wrap: row;
    justify-content: space-between;

    .tableTitleWrapper {
      margin: 2.5rem 0;
    }

    .tableFilterWrapper {
      display: flex;
      align-items: center;

      .tableFilterDropdown {
        margin-right: .5rem;

        span {
          margin: 0;
        }
      }
    }
  }

  @media #{variables.$mobile} {
    .tableTitleWrapper {
      margin: 2.5rem 0 0;
    }
  
    .tableFilterWrapper {
      margin-bottom: 2rem;
  
      .tableFilterDropdown {
        min-width: 100%;
      }

      > * {
        margin: 1rem 0;
      }
    }
  }
}
