@use '@statisticsnorway/ssb-component-library/src/style/variables' as variables;

.container {
  margin: 1.5rem 12.25rem;

  @media #{variables.$mobile} {
      margin: 1.5rem;
  }
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 1.5rem;

  @media #{variables.$mobile} {
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;

    :first-child {
      margin: 0;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
  gap: .5rem;

  @media #{variables.$mobile} {
    margin-top: 0;
  }
}

.descriptionSpacing {
    margin-bottom: .5rem;
}