version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
    day: sunday
    time: "00:00"
  cooldown:
    default-days: 7
  open-pull-requests-limit: 20
  versioning-strategy: increase
