PUBSUB_EMULATOR_HOST=localhost:3004
KUBERNETES_CLUSTERS=superprod,dev,kind-kind
LOG_FORMAT=text
LOG_LEVEL=debug
GOOGLE_MANAGEMENT_PROJECT_ID=nais-local-dev
TENANT="nav"

# Various external services can be faked.
WITH_SLOW_QUERY_LOGGER=true
WITH_FAKE_HOOKD=true
WITH_INSECURE_USER_HEADER=true
WITH_FAKE_CLOUD_SQL=true
WITH_FAKE_PROMETHEUS=true
WITH_FAKE_COST_CLIENT=true

