AUTH_TOKEN=changeme
LISTEN_ADDR=:8080

PARQUEDIT_DATABASE_URL=postgres://labradoor:labradoor@localhost:3012/labradoor?sslmode=disable
PARQUEDIT_CLOUDSQL_PROJECT=
PARQUEDIT_CLOUDSQL_INSTANCE=
PARQUEDIT_CLOUDSQL_USER_SUFFIX=

WITH_FAKE_CLOUD_RESOURCE_MANAGER=true
WITH_FAKE_SQL_ADMIN=true
FAKE_SQL_ADMIN_DB_CONN_STRING=postgres://labradoor:labradoor@localhost:3012/labradoor?sslmode=disable

