@use '@statisticsnorway/ssb-component-library/src/style/variables' as variables;

.modalBodyDialog {
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
        margin-bottom: 1.5rem;
    }

    @media #{variables.$mobile} {
        height: auto;
    }
}

.inputSpacing, .dropdownSpacing {
    min-width: 100%;
}

.inputSpacing {
    margin-bottom: 2.5rem;
}

.dropdownSpacing {
    margin-bottom: 1.5rem;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 2.5rem;
}