@use '@statisticsnorway/ssb-component-library/src/style/variables' as variables;

.modalBody {
    height: inherit;

    > *:not(:first-child, :last-child) {
        margin-bottom: 2.5rem;
    }
}

.modalBodyDialog {
    height: inherit;
    display: flex;
    align-items: center;

    @media #{variables.$mobile} {
        height: auto;
    }
}

.dropdown {
    min-width: 100%;
}