@use '@statisticsnorway/ssb-component-library/src/style/variables' as variables;

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid variables.$ssb-dark-2;
    color: variables.$ssb-dark-5;
    align-items: center;
    padding: 0 4rem;
    height: 80px;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-stretch: condensed;
    font-weight: bold;
    font-size: 2rem;
    
    .navigation {
        @extend .header;
        gap: 5rem;
        border-bottom: 0; // unset border-bottom from the inherited .header class
        padding: 0; // unset padding
    }

    .title {
        @extend .header;
        cursor: pointer;
        border-bottom: 0; // unset border-bottom from the inherited .header class
        padding: 0; // unset padding
    }

    .links {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
    }

    @media #{variables.$mobile} {
        margin: 0;
        padding-right: 0;
        padding-left: .75rem;
        .navigation {
            gap: 1rem;
        }
    }
}