@use '@statisticsnorway/ssb-component-library/src/style/variables' as variables;

.modalContainer {
    width: 375px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: variables.$ssb-white;
    border-left: 1px solid variables.$ssb-dark-2;
    overflow-x: hidden;

    @media #{variables.$mobile} {
        width: 100%;
    }
}

.closeButton {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    padding: 1rem;
}

.xIcon {
    color: variables.$ssb-green-4;
}

.modalBody {
    background-color: variables.$ssb-green-1;
    border-bottom: 1px solid #d4d4d4;
    height: 80%;
    padding: 2rem 1.5rem 0;
    overflow-y: auto;
}

.modalHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 2rem 1.5rem;
    
    > * {
        padding: 0;
        margin: 0;
    }
}

.modalFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2.5rem;
}