@use '@statisticsnorway/ssb-component-library/src/style/variables' as variables;

.link_text_wrapper {
    margin-bottom: 12px
}

.text_wrapper {
    margin-top: 12px;
    font-size: 14px;
}

@media #{variables.$mobile} {
    .link_text_wrapper {
        margin-bottom: 2px;
    }
  
    .text_wrapper {
        margin-top: 2px;
    }
}