@use '@statisticsnorway/ssb-component-library/src/style/variables' as variables;

.table {
  background-color: variables.$ssb-white;
  border-collapse: collapse;
  border: 1px solid;
  width: 100%;
  padding: 2rem;

  th,td {
    padding: 0.75rem;
    text-align: start;
  }

  th {
    border: 1px solid;
  }

  td {
    border: 1px inset variables.$ssb-dark-2;
  }  
}

.conditionalCell {
  background-color: variables.$ssb-green-1;
}