name: 'Build and Lint on Pull Requests'
permissions:
  contents: read
on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10
          run_install: false

      - name: Set up node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --ignore-scripts

      - name: Build application
        run: pnpm run build

      - name: Check for ESLint warnings and errors
        run: pnpm run lint

      - name: Run tests
        run: pnpm run tests
